/* index*/
.search-box input[type="text"]{
  font-size: 16px; /* フォントサイズを変更 */
  font-family: Arial, sans-serif; /* フォントを変更 */
}

.kari{
    width:100%;
    height:80px;
}

.slide-box{
  position: relative;
}

.slide {
  position: relative;
  width: 100%;
  height: 870px;
  overflow: hidden;
}

  @keyframes slideshow {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 0.7;
    }
    28%{
      opacity: 0.7;
    }
    38%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }

.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
    animation :slideshow 24s linear infinite;
}
  
.slide img:nth-child(2){
  animation-delay: 8s;
}
 
.slide img:last-child{
  animation-delay: 16s;
}

.slide-center{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:28px;
  padding:1% 3%;
  border-radius: 20px;
  text-shadow: 2px 3px 3px #949393;
}



.user{
    width: 20px;

}

.fixed-button a{
    width: 100px; /* ボタンの幅 */
    height: 100px; /* ボタンの高さ */
    background-color:#997a38a4; /* ボタンの背景色 */
    color: #fff; /* ボタンのテキスト色 */
    border-radius: 50%; /* ボタンを丸くする */
    text-align: center;
    line-height: 100px; /* ボタン内のテキストを中央に配置 */
    position: fixed; /* ボタンを固定位置に配置 */
    bottom: 20px; /* 画面下からの距離 */
    right: 20px; /* 画面右からの距離 */
    cursor: pointer; /* ボタンをクリック可能にする */
  }
  
  /* ボタンのホバースタイル（オプション） */
  .fixed-button a:hover {
    background-color: #92772bec; /* ホバー時の背景色 */
  }


.NewPost h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 45px;
}

.search{
    height: 25px;
    width: 300px;
}

.profile-image1{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

hr {
    border-width: 2px 0px 0px 0px; /* 太さ */
    border-style: solid; /* 線種 */
    border-color: black;   /* 線色 */
    height: 1px;         /* 高さ(※古いIE用) */
    margin-left: 8%;
    margin-right: 8%;
 }

 .item__paginate{
    width: 100%;
    margin: auto;
  }

  .pagination{
    text-align: center;
    display: flex;
    justify-content: center; 
    margin-top:7px;
    margin-bottom:7px;
  }

  .pagination span{
    text-align: center;
    width: 50px;
    font-size: 20px;
  }

  .pagination a{
    color: #818181;
    display: block;
    font-weight: bold;
    padding: 10px;
  }

  .pagination a:hover{
    width: 24px;
    height: 24px;
    background-color: #b88700ec;
    color: #FFF;
    border-radius: 100%;
    padding: 10px;
  }

  .current{
    font-weight: bold;
    color: #c0973f;
    padding: 10px;
  }