// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-new-container{
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;

}


.login{
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;

}

.user-info{
    margin: 70px auto;
    width: 70%;
    border:solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;
}

.profile-image8{
    border-radius: 50%;
}